:root {
    --grey-outline: #d3d6da;
}

.container-fluid {
    padding: 0px;
    padding-top: 0.3rem;
    
}

.navbar {
    margin: 0 auto;
    border-bottom: 0.5px solid var(--grey-outline);
    margin-bottom: 1rem;
}

.navbar .icon h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    letter-spacing: -1px;
    padding-left: 6.9rem;
}

.content {
    display: flex;
    justify-content: center;
}

.word-grid{
    height: 40rem;
    width: 40rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
}

.word-grid .grid-item {
    border: 1px solid var(--grey-outline);
    text-align: center;
    max-width: 150px;

}